h1{font-style: italic;
text-align: center;
color: rgb(0, 0, 0);
font-size:350%;

}
body{
  background-color: rgba(88, 201, 135, 0.308);
}
#main{
  text-align: center;

}
a{
  color: black;
}
div{
    text-align: center;
}
img{
    width:400;
}
h3{
    text-decoration: underline;
}
table{
    text-align: center;
}
table {
    width: 100%;
    text-align: center;}
  
  th, td {
    text-align: center;
  }
  
  th {
    text-align: center;
  }
  label {
    font-weight: bold;
  }
  input, textarea {
    width: 300px;
    margin-bottom: 10px;
  }
  
  textarea {
    height: 100px;
  }
  